header.app-header.position-relative.top-0.d-flex.flex-row.justify-content-start.align-items-center
    .bgc-header.position-absolute.top-0.d-flex.flex-row.justify-content-end.align-items-center
        .bgc-header-1
        .bgc-header-2 
    .container 